<main class="app-container">
  <section class="search-section">
    <input
      #searchInput
      id="search-query"
      class="search-input"
      type="text"
      placeholder="Search recipes..."
      (input)="onSearch($event)"
      aria-label="Search recipes"
      (keyup.escape)="clearSearch()"
    />
    <button
    *ngIf="searchInput.value.length > 0" 
    class="clear-button" (click)="clearSearch()" aria-label="Clear search">✖</button>
  </section>
  <section class="card-wrapper">
    <!-- Control flow syntax. Tracking by recipe.id for better performance. -->
    @for (recipe of recipes(); track trackRecipe(index, recipe); let index = $index) {
    <app-recipe-card
     [index]="index+1"
     (recipeSelected)="onRecipeSelected($event)"
     [recipe]="recipe"/>
    }
    @empty {
      <h1>No recipes available</h1>
    }
  </section>
  <div class="pagination">
     <!-- oldsyntax uses *ngFor directive from CommonModule -->
      <button 
      *ngFor="let i of pages()"
      [class.active]="currentPage === i"  
      (click)="loadRecipes(i)"
      >
        {{ i }}
      </button>
  </div>
</main>